/* Start  varblies */ 
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}


/* End varblies */


/* Start globle rules */
*{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}
/* html{
scroll-behavior: smooth;
} */
body{
    font-family: 'Tajawal', sans-serif;

}

ul{
list-style: none;
}
.container{
padding-left: 15px;
padding-right: 15px;
margin-left:auto ;
margin-right: auto;
width: 1138px;
}
 img{
   
  width: 94%;
    height: 11%;
    /* border-radius: 27px; */
    margin: 5px;
    position: relative;
    left: -59px;
    top: -3px;
} 
/* small
@media(min-width: 768px){
.container{
    width: 970px;
}  
}
medium
@media(min-width: 992px){
.container{
    width: 970px;
}  
}
large
@media(min-width:1200px){
.container{
    width: 970px;
}  
}
/* End globle rules */
/* Start Components */
.main-heading {
text-align: center;
}
.main-heading h2 {
font-weight: normal;
font-size: 40px;
position: relative;
margin-bottom: 70px;

}
 /* .main-heading h2::before {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
height: 2px;
background-color: #333;
bottom: -30px;
width: 120px; */
/* }  */
 /* .main-heading h2::after {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 14px;
height: 14px;
border-radius: 50%;
border: 2px solid #333;
bottom: -38px;
background-color: white;
}  */
 /* .main-heading p {
width: 550px;
margin: 0 auto 100px;
max-width: 100%;
line-height: 2;
color: #777;
} */
/* End Components */
/* Start header */
 header{

position: absolute;
left: 0;
width: 100%;
z-index: 2;
} 
header .container{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
background-color: #403054;
height: 73px;
top: 35px;
border-radius: 19px;

} 
 /* header .container::after {

content: "";
position: absolute;
height: 1px;
background-color: #050505;
bottom: 0;
width: calc(100% - 30px);
left: 15px;
} */
header nav {
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;

}
header nav .toogle-menu {
color: #ffffff;
font-size: 18px;
} 

/* @media(min-width:768px){
header nav .toogle-menu{
    display: none;
} 
/* } */
header nav ul{
display: flex;


}
/* @media(max-width:768px){
header nav ul{
    display: none;
} 
}  */
/* header nav .toogle-menu:hover + ul {
display: flex;
flex-direction: column;
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: rgb(0 0 0 / 50%);
} */
header nav .toogle-menu:hover + ul li a {
padding: 15px !important;

}

 header nav ul a {
    padding: 54px 25px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    left: -126px;
    font-weight: bold;


} 
header .container .addcart button{
  position: relative;
  
  width: 146px;
  height: 44px;
  left: 10px;
    top: 1px;

}

header nav ul li a:hover {
color: #050505;
/* border-bottom: 1px solid var(--main-color); */
}


header .container .addcart i{
  color: #faf8fa;
    font-size: 28px;
    top: 11px;
    left: 276px;
    position: relative;
}
/* End header */

.hero{
    min-height: 100vh;
    color: #ffffff;
    background-image:url(../img/bg\ -\ page.png) ;
    background-size: cover;
    position: relative;
   }
  
   /* Start landing */

   .hero .landing .text{
    color: #CB88A7;
    position: absolute;
    top: 135px;
    left: 420px;
    font-size: 20px;
}

   .hero .cotent .text {
    position: absolute;
    left: -135px;
    top: 29%;
    font-size: 21px;
    transform: translateY(-50%);
    width: 47%;
    padding: 50px;
    color: #CB88A7;
    direction: ltr;
    display: flex;
    justify-content: flex-end;

}
.hero .landing .images img{
  width: 16%;
  height: 34%;
  position: relative;
  top: 273px;
  left: 407px;

    
}
.hero .landing .images  i{
  font-size: 20px;
  color: rgb(255, 5, 5);
  background-color: #ffffff;
  position: relative;
  left: 78px;
  /* padding-left: 1px; */
  margin-left: 52px;
  top: 4px;
  /* width: 1%; */
  width: 31px;
  height: 31px;
  text-align: center;



}
.hero .landing .cotent h6{
  position: absolute;
  left: -185px;
  top: 233px;
  font-size: 17px;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: #403054;
  direction: ltr;
  display: flex;
  justify-content: flex-end;
}

.hero .landing .cotent h5{
  position: absolute;
  left: -187px;
  top: 267px;
    font-size: 15px;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: #403054;
    direction: ltr;
    display: flex;
    justify-content: flex-end;
}
.hero  .cotent .text1
{

  position: relative;
  top: -441px;
    color: #805B87;


}
.landing {
     bottom: -64px;
    position: relative;
}
.hero .landing .box h3{
  
    position: absolute;
    /* left: 626px; */
    left: 546px;
    top: 81%;
    line-height: 33px;
    font-size: 20px;
    /* transform: translateY(-50%); */
    /* padding: 86px; */
    color: #030303;
    direction: ltr;
    /* display: flex; */
    /* justify-content: flex-end; */
    WIDTH: 52%;
    DIRECTION: rtl;
  }
  .hero .landing .box  i {
    font-size: 23px;
    color: white;
    background-color: #805B87;
    position: relative;
    left: 314px;
    /* padding-left: 1px; */
    margin-left: 39px;
    top: 39px;
    /* width: 1%; */
    width: 22px;
    height: 25px;
    text-align: center;

  }
  .hero .landing .box  h6{
    color: black;
    position: absolute;
    top: 303px;
    left: -222px;




  }

  .hero .landing .box  h4{
    color: black;
    position: absolute;
    top: 257px;
  
    right: 1044px;
    
  }
  .book2{
    bottom: -64px;
    position: relative;
  }

  .hero .book2 .images img{
    width: 16%;
    height: 37%;
    position: relative;
    top: 159px;
    left: 405px;
}
.hero .book2 .images  i{
  font-size: 20px;
  color: rgb(255, 5, 5);
  background-color: #ffffff;
  position: relative;
  left: 80px;
  /* padding-left: 1px; */
  margin-left: 52px;
  top: -135px;
  /* width: 1%; */
  width: 31px;
  height: 31px;
  text-align: center;
}
.hero .book2 .cotent h6{
  position: absolute;
    left: -191px;
    top: 41%;
    font-size: 16px;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: #403054;
    direction: ltr;
    display: flex;
    justify-content: flex-end;
}

.hero .book2 .cotent h5{
  position: absolute;
  left: -193px;
    top: 151px;
  font-size: 15px;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: #403054;
  direction: ltr;
  display: flex;
  justify-content: flex-end
}

.hero .book2 .box h3{
  
    position: absolute;
    /* left: 626px; */
    left: 546px;
    top: 81%;
    line-height: 33px;
    font-size: 20px;
    /* transform: translateY(-50%); */
    /* padding: 86px; */
    color: #030303;
    direction: ltr;
    /* display: flex; */
    /* justify-content: flex-end; */
    WIDTH: 52%;
    DIRECTION: rtl;
  }
  .hero .book2 .box  i {
    font-size: 25px;
    color: white;
    background-color: #805B87;
    position: relative;
    left: 305px;
    /* padding-left: 1px; */
    margin-left: 39px;
    top: -88px;
    /* width: 1%; */
    width: 26px;
    height: 26px;
    text-align: center;

  }
  .hero .book2  .box  h6{
    color: black;
    position: absolute;
    top: 195px;
    left: -222px;




  }

  .hero .book2 .box  h4{
    color: black;
    position: absolute;
    top: 142px;
    font-size: 17px;
    right: -1opx;
    right: 1048px;
    /* left: -27px; */
    top: 4opx;
  }
  .hero .book2 .box h1{
    left: 1073px;
    color: #707070;
    position: absolute;
    top: 617px;
    font-size: 24px;
  }

  .hero .book2 .box p{
    left: 1012px;
    color: #805B87;
    position: absolute;
    top: 636px;
    font-size: 24px;
  }

  .hero .book2 .box button{
   
    position: absolute;
    left: 181px;
    text-align: center;
    top: 103%;
    font-size: 18px;
    transform: translateY(-50%);
    width: 13%;
    text-align: center;
    padding: 11px;
    color: #ffffff;
    /* direction: ltr; */
    /* display: flex; */
    /* justify-content: flex-end; */
    background-color: #403054;
    border: #403054 3px solid;
    border-radius: 6px;
}

  
  .hero .images img{
    position: absolute;
    left: 546px;
    top: 40%;
    font-size: 20px;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: #CB88A7;
  direction: ltr;
    display: flex;
    justify-content: flex-end;
    
  }
  .hero .images img{
    width: 16%;
    height: 35%;
    position: relative;
    top: 283px;
    left: 273px;
  }
  .hero .cotent h2{
    position: absolute;
    left: 627px;
    font-weight: bold;
    font-size: 26px;
    top: 14%;
    width: 50%;
    padding: 50px;
    color: #805B87;
    direction: ltr;
    display: flex;
    justify-content: flex-end;
  }
  .hero .cotent P{
    position: absolute;
      line-height: 28px;
      left: 791px;
      top: 40%;
      font-size: 18px;
      /* transform: translateY(-50%); */
      width: 50%;
      padding: 86px;
      color: #020202;
      direction: ltr;
      display: flex;
      justify-content: flex-end;
      WIDTH: 40%;
      DIRECTION: rtl;
  }
  .hero .cotent h5{
    position: absolute;
    left: 88px;
    top: 71%;
    font-size: 17px;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: #ffffff;
    direction: ltr;
    display: flex;
    justify-content: flex-end;
  }


  

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    
  outline: none;
    height: 42px;
    width: 38%;
    color: #403054;
    font-size: 14px;
    direction: rtl;
    /* left: -427px; */
    top: -399px;
    position: relative;
    /* top: -598px; */
    /* position: absolute; */
    right: -737px;
}
.login-box label{

  color: #CB88A7;
  position: absolute;
  font-size: 24px;
  bottom: 410px;
  left: 1090px;
  
  }

    .login-box    .one{
      width: 38%;
      height: 16%;
      direction: rtl;
      position: relative;
      /* text-align: start; */
      /* top: -396px; */
      left: 739px;
      
      
      }

.login-box   textarea{
  width: 38%;
    height: 18%;
    direction: rtl;
    position: relative;
    top: -226px;
    left: 741px;
  
  }

.login-box input[type="submit"]
{
  border: none;
  top: -136px;
  position: relative;
  outline: none;
  width: 177px;
  height: 46px;
  background: #403054;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
  left: 562px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #707572;
    color: #000;
}
.cheak .info{
  position: relative;
    bottom: 384px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cheak .info h1{
  color: #CB88A7;
    position: absolute;
    bottom: 12px;
    font-size: 23px;
    left: 456px;
    
}
.cheak .info h2{
  position: absolute;
  bottom: -31px;
  left: 447px;
  font-size: 18px;

}
.cheak .info h3{
  position: absolute;
    bottom: -33px;
    left: 281px;
}
.cheak .info h4{

  position: absolute;
    bottom: -70px;
    font-size: 18px;
    /* right: 10px; */
    left: 464px;
}

.cheak .info h5{
  position: absolute;
    bottom: -74px;
    font-size: 20px;
    left: 288px;
}
.cheak .info h6{
  position: absolute;
  bottom: -134px;
  left: 481px;
  font-size: 15px;
}
.cheak .info p{
  position: absolute;
  left: 287px;
  bottom: -133px;
  font-size: 22px;
}
/* start footer */


footer{
  height: 13%;
  

  background-color: #805B87;
  background-size: cover;
  position: relative;
 }
 footer .container{
  display: flex;
  flex-wrap: wrap;
  
 }
 footer .container .social{
left:10px


 }
 footer .container .social .fa-brands{
  position: relative;
  top: 39px;
  left: 13px;
  padding-left: 32px;
  /* width: 21%; */
  /* height: 15%; */
  color: white;
  font-size: 30px;

 }

 footer .container .text{
  left: 410px;
  top: 39px;

  color: white;
  font-size: 19px;
  position: relative;
 }
 /* end footer */